<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mdm.distribution.mapper.MdmDistributionMapper">

    <resultMap type="MdmDistribution" id="MdmDistributionResult">
        <id     property="distId"      column="dist_id"       />
        <result property="appId"       column="app_id"        />
        <result property="objectId"    column="object_id"     />
        <result property="triggerType" column="trigger_type"  />
        <result property="channel"     column="channel"       />
        <result property="queueName"   column="queue_name"    />
        <result property="endpointUrl" column="endpoint_url"  />
        <result property="enabled"     column="enabled"      />
        <result property="remark"      column="remark"        />
        <result property="appName"     column="app_name"      />
        <result property="objectName"  column="object_name"   />
        <result property="createBy"    column="create_by"     />
        <result property="createTime"  column="create_time"   />
        <result property="updateBy"    column="update_by"     />
        <result property="updateTime"  column="update_time"   />
    </resultMap>

    <sql id="selectDistVo">
        select d.dist_id, d.app_id, d.object_id, d.trigger_type, d.channel, d.queue_name, d.endpoint_url, d.enabled, d.remark,
               d.create_by, d.create_time, d.update_by, d.update_time,
               a.app_name, o.object_name
        from mdm_distribution d
        left join mdm_app a on a.app_id = d.app_id
        left join mdm_object o on o.object_id = d.object_id
    </sql>

    <select id="selectDistById" parameterType="Long" resultMap="MdmDistributionResult">
        <include refid="selectDistVo"/>
        where d.dist_id = #{distId}
    </select>

    <select id="selectDistList" parameterType="MdmDistribution" resultMap="MdmDistributionResult">
        <include refid="selectDistVo"/>
        <where>
            <if test="appId != null">and d.app_id = #{appId}</if>
            <if test="objectId != null">and d.object_id = #{objectId}</if>
            <if test="enabled != null and enabled != ''">and d.enabled = #{enabled}</if>
        </where>
        order by d.dist_id desc
    </select>

    <select id="selectEnabledListByObjectId" parameterType="Long" resultMap="MdmDistributionResult">
        <include refid="selectDistVo"/>
        where d.object_id = #{objectId} and d.enabled = '1' and d.trigger_type = 'IMMEDIATE'
    </select>

    <insert id="insertDist" parameterType="MdmDistribution" useGeneratedKeys="true" keyProperty="distId">
        insert into mdm_distribution (
            app_id, object_id, trigger_type,
            <if test="channel != null and channel != ''">channel,</if>
            <if test="queueName != null and queueName != ''">queue_name,</if>
            endpoint_url,
            <if test="enabled != null and enabled != ''">enabled,</if>
            <if test="remark != null">remark,</if>
            create_by, create_time
        ) values (
            #{appId}, #{objectId}, #{triggerType},
            <if test="channel != null and channel != ''">#{channel},</if>
            <if test="queueName != null and queueName != ''">#{queueName},</if>
            #{endpointUrl},
            <if test="enabled != null and enabled != ''">#{enabled},</if>
            <if test="remark != null">#{remark},</if>
            #{createBy}, sysdate()
        )
    </insert>

    <update id="updateDist" parameterType="MdmDistribution">
        update mdm_distribution
        <set>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="objectId != null">object_id = #{objectId},</if>
            <if test="triggerType != null and triggerType != ''">trigger_type = #{triggerType},</if>
            <if test="channel != null and channel != ''">channel = #{channel},</if>
            <if test="queueName != null and queueName != ''">queue_name = #{queueName},</if>
            <if test="endpointUrl != null and endpointUrl != ''">endpoint_url = #{endpointUrl},</if>
            <if test="enabled != null and enabled != ''">enabled = #{enabled},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_by = #{updateBy}, update_time = sysdate()
        </set>
        where dist_id = #{distId}
    </update>

    <delete id="deleteDistByIds" parameterType="Long">
        delete from mdm_distribution where dist_id in
        <foreach collection="array" item="distId" open="(" separator="," close=")">
            #{distId}
        </foreach>
    </delete>

</mapper>