<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mdm.model.mapper.MdmObjectMapper">

    <resultMap type="MdmObject" id="MdmObjectResult">
        <id     property="objectId"    column="object_id"    />
        <result property="objectCode"  column="object_code"  />
        <result property="objectName"  column="object_name"  />
        <result property="categoryId"  column="category_id"  />
        <result property="status"      column="status"       />
        <result property="version"         column="version"           />
        <result property="auditProcessKey" column="audit_process_key" />
        <result property="templateSource"  column="template_source"   />
        <result property="orderNum"        column="order_num"         />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"  column="create_time"  />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"  column="update_time"  />
        <result property="remark"      column="remark"       />
    </resultMap>

    <sql id="selectObjectVo">
        select object_id, object_code, object_name, category_id, status, version, audit_process_key, template_source, order_num,
               create_by, create_time, update_by, update_time, remark
        from mdm_object
    </sql>

    <select id="selectObjectById" parameterType="Long" resultMap="MdmObjectResult">
        <include refid="selectObjectVo"/>
        where object_id = #{objectId}
    </select>

    <select id="selectObjectList" parameterType="MdmObject" resultMap="MdmObjectResult">
        <include refid="selectObjectVo"/>
        <where>
            <if test="objectCode != null and objectCode != ''">and object_code like concat('%', #{objectCode}, '%')</if>
            <if test="objectName != null and objectName != ''">and object_name like concat('%', #{objectName}, '%')</if>
            <if test="categoryId != null">and category_id = #{categoryId}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
        </where>
        order by order_num
    </select>

    <select id="checkObjectCodeUnique" parameterType="String" resultMap="MdmObjectResult">
        <include refid="selectObjectVo"/>
        where object_code = #{objectCode} limit 1
    </select>

    <insert id="insertObject" parameterType="MdmObject" useGeneratedKeys="true" keyProperty="objectId">
        insert into mdm_object (
            <if test="objectCode != null and objectCode != ''">object_code,</if>
            <if test="objectName != null and objectName != ''">object_name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="version != null and version != ''">version,</if>
            <if test="auditProcessKey != null and auditProcessKey != ''">audit_process_key,</if>
            <if test="templateSource != null and templateSource != ''">template_source,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
            update_by, update_time
        )values(
            <if test="objectCode != null and objectCode != ''">#{objectCode},</if>
            <if test="objectName != null and objectName != ''">#{objectName},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="version != null and version != ''">#{version},</if>
            <if test="auditProcessKey != null and auditProcessKey != ''">#{auditProcessKey},</if>
            <if test="templateSource != null and templateSource != ''">#{templateSource},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
            #{updateBy}, sysdate()
        )
    </insert>

    <update id="updateObject" parameterType="MdmObject">
        update mdm_object
        <set>
            <if test="objectName != null and objectName != ''">object_name = #{objectName},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="auditProcessKey != null and auditProcessKey != ''">audit_process_key = #{auditProcessKey},</if>
            <if test="templateSource != null and templateSource != ''">template_source = #{templateSource},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where object_id = #{objectId}
    </update>

    <delete id="deleteObjectById" parameterType="Long">
        delete from mdm_object where object_id = #{objectId}
    </delete>

    <delete id="deleteObjectByIds" parameterType="Long">
        delete from mdm_object where object_id in
        <foreach item="objectId" collection="array" open="(" separator="," close=")">
            #{objectId}
        </foreach>
    </delete>

</mapper>
