<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mdm.integration.mapper.MdmReceiveLogMapper">

    <resultMap type="MdmReceiveLog" id="MdmReceiveLogResult">
        <id     property="id"               column="id"                />
        <result property="appCode"          column="app_code"          />
        <result property="objectCode"       column="object_code"       />
        <result property="businessCode"     column="business_code"     />
        <result property="success"          column="success"           />
        <result property="requestSummary"   column="request_summary"   />
        <result property="responseSummary"  column="response_summary"  />
        <result property="errorMsg"         column="error_msg"         />
        <result property="costMs"           column="cost_ms"           />
        <result property="ip"               column="ip"                />
        <result property="createTime"       column="create_time"       />
    </resultMap>

    <select id="selectList" parameterType="MdmReceiveLog" resultMap="MdmReceiveLogResult">
        select id, app_code, object_code, business_code, success, request_summary, response_summary,
               error_msg, cost_ms, ip, create_time
        from mdm_receive_log
        <where>
            <if test="appCode != null and appCode != ''">and app_code = #{appCode}</if>
            <if test="objectCode != null and objectCode != ''">and object_code = #{objectCode}</if>
            <if test="businessCode != null and businessCode != ''">and business_code = #{businessCode}</if>
            <if test="success != null and success != ''">and success = #{success}</if>
        </where>
        order by id desc
    </select>

    <insert id="insert" parameterType="MdmReceiveLog" useGeneratedKeys="true" keyProperty="id">
        insert into mdm_receive_log (
            app_code, object_code, business_code, success, request_summary, response_summary,
            error_msg, cost_ms, ip, create_time
        ) values (
            #{appCode}, #{objectCode}, #{businessCode}, #{success}, #{requestSummary}, #{responseSummary},
            #{errorMsg}, #{costMs}, #{ip}, sysdate()
        )
    </insert>

    <!-- 手动清理：删除截止时间前的日志 -->
    <delete id="deleteBeforeTime" parameterType="String">
        delete from mdm_receive_log where create_time &lt;= #{beforeTime}
    </delete>

</mapper>
